#highscores {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
#timer {
    float: right;
    padding: 20px;
}
.jumbotron {
    text-align: center;
}
.container1 {
    position: center;
    padding: 50px 300px 50px 300px;
}

p { 
font-size: 14pt;
}